.register h2 {
  color: aqua;
}

.employee-photo {
  width: 100%;
  max-width: 100px;
  height: auto;
  border: 1px solid #000;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.employee-photo img {
  max-width: 100%;
  height: auto;
}
