.register{
    text-align: left;
    padding: 50px;
}
.register h4{
    margin-top: 100px;
}
.register-form{
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 20px;
    text-align: left;
    color: black;
}
.register-form form{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.register-form button {
    width: 100px;
    margin-top: 50px;
}